pandas
numpy
matplotlib
langchain
huggingface
pdfplumber
tensorflow
torch
torchvision
opencv-python
transformers
timm
langchain-weaviate
langchain-community
langchain-core
langchain-huggingface
langchain-ollama