pandas
numpy
matplotlib
langchain
huggingface
pdfplumber
camelot-py[cv]
tabula-py
tensorflow
torch
torchvision
opencv-python
transformers
timm
langchain-weaviate
langchain-community
langchain-core
langchain-huggingface
langchain-ollama